<!DOCTYPE html>
<html>
  <head>
    <title>Landmark</title>
  </head>

  <body>
    <h2> Edit the Landmark - <%= @landmark.name %></h2>

    <form action="/landmarks/<%= @landmark.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">

      <label>Edit the Landmark's Name: </label><input id="name" type="text" name="landmark[name]" value="<%= @landmark.name %>">
      <br>
      <label>Edit the Landmark's Name: </label><input id="year_completed" type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>">
      <br><br><input id="Save" type="submit" value="Edit Landmark">
      </form>
    <br><br>
    <a class="button" href="/landmarks">Landmarks</a>
    <a class="button" href="/">Home</a>
  </body>
</html>
