<h2>Create New Landmark</h2>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" value="patch" name="_method" id="hidden">
  <label for="Name">Name</label>
  <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>"></input><br/>
   <label for="landmark_year_completed">Year completed</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>"></input>
  <br/><br/>
  <input type="submit" value="Edit Landmark">
</form>
<br/><br/>
<a class="button" href="/landmarks">Landmarks</a><br/>
<a class="button" href="/">Home</a>
