<h2>Edit Historical Landmark</h2>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <label>Change Name</label>
  <input type="text" name="landmark[name]" id="name">

  <label>Year Completed</label>
  <%= @landmark.year_completed %>
  <input type="text" name="landmark[year_completed]" id="year_completed">

  <input type="submit" id="submit" value="Edit Landmark">

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
