<h2>Edit Historical Landmark</h2>

<!-- add content here -->
<h4> Update <%=@landmark.name%></h4>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
<br>
<input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
<br>
<input type="submit" value="Edit Landmark">
</form>
<a class="button" href="/landmarks">Landmarks</a>
<br>
<a class="button" href="/">Home</a>
