<h2>All Historical Landmarks</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Year Completed</th>
    </tr>
    <tr>
        <% @landmarks.each do |landmark| %>
            <td align='center'><a href='/landmarks/<%= landmark.id %>'><%= landmark.name %></a></td>
            <td align='center'><%= landmark.year_completed %></td>
        <% end %>
    </tr>
</table>

<a class="button" href="/landmarks/new">Create a New Landmark</a><br>
<a class="button" href="/figures">Figures</a><br>
<a class="button" href="/">Home</a><br>
