<h2>All Historical Landmarks</h2>
<h3>Select a Landmark to view below:</h3>
<% @landmarks.each do |landmark| %>
<%= landmark.name %>
<br>
<%= landmark.year_completed %>
<a href="/landmarks/<%= landmark.id %>"><br>Show Landmark</a>
<br><br>
<% end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
