<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
  <a class="button" href='/landmarks/:id'><h3><%= landmark.name %></h3></a>
  <h4>Created in <%= landmark.year_completed %></h4>
  <% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
