<h2>All Historical Landmarks</h2>

<br>

<% @landmarks.each do |landmark| %>
  <%= landmark.id %>. <%=landmark.name%> (<%= landmark.year_completed %>)<br>
<% end %>

<br><br>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
