<h2>All Historical Landmarks</h2>

<% Landmark.all.each do | sel | %>
    <h3>
        <a href= "landmarks/<%= sel.id %>"><%= sel.name %></a>
    </h3>
    <h5><%= sel.year_completed %></h5>
<% end %>


