<h1>All Historical Landmarks</h1>

<%@landmarks.each do |landmark| %>
  <a href="/landmarks/<%=landmark.id%>"><h2><%= landmark.name%></h2></a>
  <h3><%= landmark.year_completed%></h3>
<%end%>

<a class="button" href="landmarks/new">Create New Landmark</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
