<h2>All Historical Landmarks</h2>

<ul>
  <% @landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
    <ul>
      <li>Year Completed: <%= landmark.year_completed %></li>
    </ul>
  <% end %>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
