<!DOCTYPE html>
<html>
  <head>
    <title>Landmarks</title>
  </head>

  <body>
    <h2> Your Landmarks </h2>

    <% @landmarks.each do |landmark| %>
      <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>
      <p><%= landmark.year_completed %></p>
      <br>
    <% end %>
    <br><br>
    <a class="button" href="/figures">Figures</a>
    <a class="button" href="/">Home</a>
  </body>
</html>
