<h2>All Historical Landmarks</h2>

<% @landmarks.each.with_index(1) do |landmark, index| %>
	<p><%= index %><a href="/landmarks/<%= landmark.id %>"><%= "#{landmark.name}, #{landmark.year_completed}" %></a></p>
<% end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
