<h2>All Historical Landmarks</h2>

<% @landmarks.each { |landmark| %>
    <div><%= landmark.name %> <%= landmark.year_completed %></div>
<% } %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
