<h2>All Historical Landmarks</h2>

<% Landmark.all.each do |landmark| %>
  <a href="/landmarks/<%= landmark.id %>"><h3><%= landmark.name %></h3></a>
  <h3><%= landmark.year_completed %></h3>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
