<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
    <p><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>, completed in <%= landmark.year_completed %></p>
<% end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
