<h2>All Historical Landmarks</h2>

<ul>
<% @landmarks.each do |lndmk|%>
  <li><a href="/landmarks/<%=lndmk.id%>"><%=lndmk.name%></a><%if lndmk.year_completed%>(<%=lndmk.year_completed%>)<%end%></li><%end%>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
