<h2>All Historical Landmarks</h2>
<% @landmark.each do |landmark| %>
    <li><%= landmark.name %> - Year Completed: <%= landmark.year_completed %></li>
<% end %>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
