<h2>All Historical Landmarks</h2>
<center>
  _ _.-'`-._ _<br>
 ;.'________'.;<br>
_________n.[____________].n_________<br>
|""_""_""_""||==||==||==||""_""_""_""]<br>
|"""""""""""||..||..||..||"""""""""""|<br>
|LI LI LI LI||LI||LI||LI||LI LI LI LI|<br>
|.. .. .. ..||..||..||..||.. .. .. ..|<br>
|LI LI LI LI||LI||LI||LI||LI LI LI LI|<br>
,,;;,;;;,;;;,;;;,;;;,;;;,;;;,;;,;;;,;;;,;;,,<br>
;;jgs;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;<br>
</center>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
