<h2>All Historical Landmarks</h2>

<!-- add content here -->

<% @landmarks.each do |l| %>
    <h3>Name: <%= l.name %></h3>
    <h4>Year Completed: <%=l.year_completed%></h4>
  </br>
  <% end %> 
   

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
