<h2>All Historical Landmarks</h2>

<!-- add content here -->
<% @all.each do |instance| %>
  <p><%= instance.name %></p><br>
  <p><%= instance.year_completed %></p></br>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
