<h2>All Historical Landmarks</h2>

<% @landmarks.each do |landmark| %>
   <h3><%= landmark.id  %>.   <a href="/landmarks/<%= landmark.id %>"><%= landmark.name  %></a>&nbsp(<%= landmark.year_completed  %>)</h3>
<% end %>
<br>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
