<h2>All Historical Landmarks</h2>

  <% Landmark.all.each do |landmark| %>
  <h5><%=landmark.name%></h5>
  <h5><%=landmark.year_completed%></h5>
  <% end %>
  <br>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
