<h2>Create New Landmark</h2>

<!-- add content here -->

<form method="post" action="/landmarks">
  
  <lobel for="name">Name:</lobel><br>
  <input type="text" name="landmark[name]" id="landmark_name"><br>
  <lobel for="name">Year Completed:</lobel><br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
  
  
  <label for="title">Figure</label><br>
  <% @figures.each do |figure| %>
  <%= figure.name %> <input type="radio" name="landmark[figure_ids][]" value="<%= figure.id %>" id="figure_<%= figure.id %>">
  <% end %>
  <br>
  Create New Figure:
  <input type="text" name="figure[name]" id="new_figure"> <br>
  
  <input type="submit" value="Create New Landmark">
  
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
