<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
<input type="text" value="landmark_name"></input>
<input type="submit" value="Submit Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
