<h2>Create New Landmark</h2>

<form action='/landmarks' method='POST'>
        <h3>Create new landmark: </h3>
            <label>Name: </label><input type='text' id='landmark_name' name='landmark[name]'>
            <label>Year: </label><input type='text' id='landmark_year_completed' name='landmark[year_completed]'><br>

    <br><input type='submit' id='submit' value="Create New Landmark">
</form>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
