<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
    <p>Landmark Name: <input id="landmark_name" name="landmark[name]" type="text"></p>
    <p>Landmark Year Completed: <input id="landmark_year_completed" name="landmark[year_completed]" type="integer"></p>
    <a class="button" href="/landmarks">Landmarks</a>
    </br>
    <a class="button" href="/">Home</a>
    </br>

    <input type="submit" value="Create New Landmark">  


</form>

