<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/landmarks" method="post">
  <label for="landmark[name]">Landmark Name: </label>
  <input type="text" id="landmark_name" name="landmark[name]"><br>
  <label for="landmark[year]">Year Completed: </label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br><br>

  <h3>Figure</h3>
  <label for="figure[name]">Figure: </label>
  <input type="text" name="figure[name]">

  <br><br>
  <input type="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
