<h2>Create New Landmark</h2>
<br><br>
<form action="/landmarks" method="post">
    Name:<input type="text" name="landmark[name]" id="landmark_name"><br>
    Year Created:<input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
    <input type="submit" name="Create New Landmark" value="Create New Landmark">

</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
