<h2>Create New Landmark</h2>

<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>



<form method="POST" action="/landmarks">

<p> Name:<input type="text" name="landmark[name]" id="landmark_name"> </p>
<p> year_completed:<input type="text" name="landmark[year_completed]" id="landmark_year_completed"> </p>

<input type="submit" value="Create New Landmark">

</form>