<h2>Create New Landmark</h2>


<form method='post' action='/landmarks'>
	<label for='landmark_name'>name</label>
  <input type='text' name='landmark[name]' id='landmark_name'>
	<label for='year_completed'>year_completed</label>
  <input type='text' name='landmark[year_completed]' id='landmark_year_completed'>

	<br>
	<br>
  <input type="submit" name="Create New landmark" value='Create New Landmark' id='Create New Landmark'>
 </form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
