<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <input type="text" id="landmark_name" name="landmark[name]" value="name">
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]" value="year completed">
  <input type="submit" name="submit" value="Create New Landmark">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
