<h2>Create New Landmark</h2>

<!-- add content here -->
<form method="POST" action="/landmarks">
  <label><b>Name:</b></label>
  <input type="text" name="landmark[name]" id="landmark_name"><br><br>

  <label><b>Year Completed:</b></label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br><br>

  <input type="submit" value="Create New Landmark">
  <br>
  <br>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
