<h2>Create New Landmark</h2>
<form action="/landmarks" method="post">
  <label for="landmark_name">Name</label>
  <input type="text" name="landmark[name]" id="landmark_name">
  <label for="landmark_year_completed">Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <% Figure.all.each do |f| %>
    <input type="radio" name="landmark[figure_id]" id="figure_<%= f.id %>" value="<%= f.id %>">
    <label for="figure_<%= f.id %>"><%= f.name %></label>
  <% end %>
  <h3>Create New Figure</h3>
  <label for="new_figure">Figure Name</label>
  <input type="text" name="figure[name]" id="new_figure">
  <button type="submit">Create New Landmark</button>
</form>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
