<form action="/landmarks" method="POST">
<h2>Create New Landmark</h2>

Name: <input type="text" name="landmark[name]">
Year: <input type="integer" name="landmark[year_completed]"
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

</form>