<h2>Create New Landmark</h2>

<form action="/landmarks" method="POST">
    <h2><label for="landmark_name">Landmark Name:</label></h2>
    <input type="text" name="landmark[name]" id="landmark_name" placeholder="Enter landmark name here">

    <br>

    <h2><label for="year_completed">Year Completed:</label></h2>
    <input type="text" name="landmark[year_completed]" id="landmark_year_completed" placeholder="Enter year completed here">

    <br><br>

    <input type="submit" value="Create New Landmark">
</form>
<br>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
