<h2>Create New Landmark</h2>

<form method="post" action="/landmarks/new">
  <label for="figure_name">Name </label> <input id="figure_name" name="figure[name]" type="text" />

</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
