<h2>Create New Landmark</h2>

<form method=POST action="/landmarks">
<p><strong>Name: </strong><input type="text" name="landmark[name]" id="landmark_name"></p>
<p><strong>Year Completed: </strong><input type="text" name="landmark[year_completed]" id="landmark_year_completed"></p>
<input type="submit" name="submit" value="Create New Landmark">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
