
<h3>Name: <%= @landmark.name %>
<br>
Year Completed: <%= @landmark.year_completed %></h3>
<br>
<br><br>
<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
<br><br>
<a class="button" href="/landmarks">Landmarks</a>
