<!DOCTYPE html>
<html>
  <head>
    <title>Landmarks</title>
  </head>

  <body>
    <h2>Landmark Information</h2>
    <h3>Landmark Name: <%= @landmark.name %></h3>
    <h4>Year Completed: <%= @landmark.year_completed %></h4>

    <a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a>
    <a class="button" href="/landmarks">Landmarks</a>

  </body>
</html>
