<!DOCTYPE html>
<html lang="en">
<head>
	<title>Document</title>
	<style>
		a {
			color: black;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1><%= @landmark.name %></h1>

	<h3>Year completed: <%= @landmark.year_completed %></h3>

	<button type="button" name="button"><a href="/landmarks/<%= @landmark.id %>/edit">Edit</a></button>

	<button type="button" name="button"><a href="/landmarks">Landmarks</a></button>
</body>
</html>
