<table>
  <label>Name</label>
    <%= @landmark.name %>

    <label>Year Completed</label>    
    <%= @landmark.year_completed %>

  <a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit</a>
  <a class="button" href="/landmarks">Landmarks</a>
  <a class="button" href="/">Go Home</a>
