<h2>Edit Figure</h2>

<!-- lets make something happen here, shall we. -->
<form action="/figures/<%= @figure.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit the Figure: </label>
  <br>

  <label>Name: <label>
  <input type="checkbox" name="figure[:name]" id="figure_name" value="<%= @figure.name %>">
  <input type="submit" value="Submit">
  <br>

  <label>Land Mark: </label>
  <input type="checkbox" name="landmark[:name]" id="landmark_name" value="<%= @landmark.name %>">
  <input type="submit" value="Submit">
  <br>
  
  <label> Create New Title: </label>
  <input type="checkbox" name="title[:name]" id="new_title" value="<%= @title.name %>">
  <input type="submit" value="Submit">
  <br>

  <a class="button" href="/figures">Figures</a>
  <br>
  
  <a class="button" href="/">Home</a>