<form action="/figures/<%=@figure.id%>"  method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name</label>
  <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name%>">
  <br><br>

  <%= binding.pry %>
</form>
