require 'pry'

<form action="/figures/<%= @figure.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    Name: <input type="text" name="figure[name]" id="figure_name">
    <br><br>
    
  


</form>