<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Figures</title>
</head>
<body>
    <% Figure.all.each do |figure| %>
        <h3><%= figure.name %></h3>
        <a href="/figures/<%= figure.id %>">read more</a>
    <% end %>
</body>
</html>