<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>All Figures</h1>
    <%Figure.all.each do |figure|%>
        <%=figure.name%>
    <%end%>
    
  </body>
</html>