<% @figures.each do |figure| %>
  <p><%= figure.name %></p>
  <% figure.titles.each do |title| %>
    <p><%= title.name %></p>
  <% end %>
  <% figure.landmarks.each do |landmark| %>
    <p><%= landmark.name %></p>
  <% end %>
<% end %>