<h2>All Historical Figures</h2>

<% @figures.each do |figure| %>
  <div class="figures">
    <h2>Figure Name: <%= figure.name %></h2>
    <a href="/figures/<%= figure.id %>"</a>
  </div><br>
<% end %>
<!-- add content here -->

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
