<h1>List of Figures</h1>
<ol>
  <% @figures.each do |figure| %>
    <li><a href="/figures/<%= figure.id %>"><%= figure.name %></a></li>
  <% end %>
</ol>

<a href="/figures/new"><input type="submit" value="New Figure" id="New"/></a>
