<h2>All Figures</h2>

<!-- add content here -->

<% @figures.each do |figure| %>
    <li> <%= figure.name %>  <li>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
