<h1>
 Figure Landing Page
</h1>


<% Figure.all.each do |figure| %>
  <a href="/figures/<%= figure.id %>"><%= figure.name %></a> <br>
<% end %>
<br><br> 
<a href="/figures/new">Add a New Figure</a>

<br>
