<!DOCTYPE html>
<html>
  <head>
    <h1>Figures</h1>
  </head>
  <body>
    <ul>
      <% @figures.each do |figure| %>
        <li><a href="/figures/<%= figure.id %>"><%= figure.name %></li>
      <% end %>
    </ul>
  </body>

</html>
