<h2>Create New Figure</h2>

<!-- add content here -->
<form action='/figures' method='POST'>
<h3>Name: <input type='text' id='figure_name' name='figure[name]'></h3>
<h3>Titles</h3>
 <% Title.all.each do |title| %>
    <input id="<%= title.name %>" type="checkbox" name="titles[]" value="<%= title.id %>">
<% end %>

<h3>Landmarks</h3>
 <% Landmark.all.each do |landmark| %>
    <input id="<%= landmark.name %>" type="checkbox" name="landmarks[]" value="<%= landmark.id %>">
<% end %>



<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
