<h1>Add A New Figure</h1>

<form action="/figures" method="POST">
  <label> Name </label>
  <input type="text" name="figure[name]" id="figure_name"> </br> 

  <label> Titles </label>
  <% @titles.each do |title| %>
    <input id="title_<%= title.id %>" type="text" name="figure[title_ids][]" value="<%= title.id %>">
  <% end %>
  <br>

  <label> Create New Title: </label>
  <input id="new_title" type="text" name="title[name]">
  <br>

  <label> Landmarks </label>
  <% @landmarks.each do |landmark| %>
    <input id="landmark_<%= landmark.id %>" type="text" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %>

  <label> Create New Landmark: </label>
  <label for="title">Create New Landmark: </label>
  <input id="new_landmark" type="text" name="landmark[name]"><br>
  <input type="submit" value="Create New Figure">
</form>