<form action="/figures/new" method="POST">

Name: <input type="text" name="figure[name]">
<input type="text" name="figure[title_ids][]">
<input type="text" name="figure[landmark_ids][]">
Landmark: <input type="text" name="landmark[name]">
Title: <input type="text" name="title[name]"



</form>