<h2>Create New Figures</h2>

<form action="/figures" method="POST">
  <label>Name:</label>
  <input type="text" id="figure_name" name="figure[name]">

  <label>Titles</label>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>"><br>
  <% end %>
  <br>

  <label>New title</label>
  <input type="text" name="title[name]" id="new_title"></input>
  <br>

  <label>Landmarks</label>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%= landmark.id %>"><br>
  <% end %>
  <br>

  <label>Create New Landmark:</label>
  <label>Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">
  <label>Year:</label>
  <input type="text" name="landmark[year_completed]">

  <input type="submit" value="Create New Figure">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
