<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Show Figure</title>
  </head> 
  <body>
    <h1><%= @figure.name %></h1>
      <p>Titles:</p><br>
      <ul>
        <% @figure.titles.each do |title| %>
        <li><%= title.name %></li>
        <% end %>
      </ul>
      <br>
      <p>Landmarks:</p><br>
      <ul>
        <% @figure.landmarks.each do |landmark| %>
        <li><%= landmark.name %></li>
        <% end %>
      </ul>
      <br>
      <a href="/figures/<%= @figure.id %>/edit"><input type="button" value="Edit"></a>
    </body>
</html>