<h1><%= @figure.name %></h1><br>

<h3>Titles:</h3><br>

<ul>
<% @figure.titles.each do |t| %>
    <li><%= t.name %></li>
<%end%>
</ul>

<h3>Landmarks:</h3><br>
<ul>
<% @figure.landmarks.each do |l| %>
    <li><a href='/landmarks/<%= l.id %>'><%= l.name %></a></li>
<%end%>
</ul>