<h1><%= @figure.name %></h1>
<h2>Titles:</h2>
<p>
    <% @figure.titles.each do | sel | %>
        <%= sel.name %>    
    <% end %>
</p>
<h2>Landmarks:</h2>
<p>
    <% @figure.landmarks.each do | sel | %>
        <%= sel.name %> - 
    <% end %>
</p>
    