<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra NYC</title>
  </head>

  <body>

    <h3>Name:</h3>
      <p><%= @figure.name %><p><br>
    <h3>Titles:</h3>
      <% @figure.titles.each do |title| %>
        <p><%= title.name %></p>
      <% end %><br>
    <h3>Landmarks:</h3>
      <% @figure.landmarks.each do |landmark| %>
        <p><%= landmark.name %></p>
      <% end %>

  </body>
</html>