<h1>Figure Name: <%= @figure.name %></h1>

<div>Title(s):
  <ul>
    <% @figure.titles.each do |title| %>
      <li><%= title.name %></li>
    <% end %>
  </ul>
</div>

<div>Landmark(s):
  <ul>
    <% @figure.landmarks.each do |landmark| %>
      <li><%= landmark.name %></li>
    <% end %>
  </ul>
</div>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
