<!DOCTYPE html>
  <head>
    <h4><%= @figure.name %></h4>
    <% @figure.titles.each do |title| %>
    <li><%= title.name %></li>
    <% end %>
    <br>
    <% @figure.landmarks.each do |landmark| %>
    <li><%= landmark.name %></li>
    <% end %>
  </head>
</html>
