<table>
  <tr>
    <th>Name</th>
    <th>Land Mark</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><%= @figure.landmarks %></td>
    </tr>
</table>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>

  