<table>
  <tr>
    <th>Figure</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
  </tr>
</table>
<br>
<a class="button" href="/figures/<%= @figure.id %>/edit">Edit figure</a>
<br>
<a class="button" href="/landmarks">Landmarks</a>
