<h1><%= @figure.name %></h1>
<h3>Titles:</h3>
  <% @figure.titles.each do |title| %>
    <h4><%= title.name %></h4>
  <%end%>
<br>

<h3>Landmarks:</h3>
  <% @figure.landmarks.each do |landmark| %>
    <h4><%= landmark.name %></h4>
  <%end%>
<br>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit</a>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Go Home</a>
