<h1><%= @figure.name %></h1>

<b>Title(s):</b><br>
<ul>
  <% @figure.titles.each do |t| %>
  <li><%= t.name %></li>
  <% end %>
</ul>
<br> <br>

<b>Landmarks:</b><br>
<ul>
  <% @figure.landmarks.each do |l| %>
  <li><%= l.name %></li>
  <% end %>
</ul>
<br>
<br>

<a href="/figures/<%= @figure.id %>/edit"><input type="button" value="Edit"></a>


