<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
  </tr>
<table>

<h2>Titles</h2>
<ul>
<% @figure.titles.each do |title| %>
  <li><%= title.name %></li>
<% end %>
</ul>

<h2>Landmarks</h2>
<ul>
<% @figure.landmarks.each do |landmark| %>
  <li><%= landmark.name %></li>
<% end %>
</ul>

<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>
