<!DOCTYPE html>
<html lang="en">
<head>
	<title>NYC sinatra Lab</title>
	<style>
		a {
			color: black;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>NYC sinatra Lab</h1>

	<button type="button" name="button"><a href="/figures">Figures</a></button>
	<button type="button" name="button"><a href="/landmarks">Landmarks</a></button>
</body>
</html>
