<h1><b>NYC</b> Sinatra Lab</h1>
<img src="https://imgs.6sqft.com/wp-content/uploads/2020/03/11125238/NYC-skyline-night-Hudson-Yards-e1583945649985.jpg" alt="poop" title="nyc">
<h1>Welcome to a history of NYC!</h1>
<p><em>What would you like to do?</em></p>
<ul>
  <li>View all Historical Figures</li>
  <li>View all Historical Landmarks</li>
  <li>Create a new Historical Figure</li>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/landmarks">Landmarks</a>
